<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
    <title>Adalicious</title>
</head>
<body>
    <!--Formulaire -->
<section>
     <div id="header1">
        <h1>🍟 Bienvenue dans notre restaurant 🍔</h1>
   </div>
</section>

<form action="/menu" method="GET">
    <div class="search-field">
        <label for="customer">Client</label>
        <input name="customer" id="customer" placeholder="Votre nom">
    </div>
    <button type="submit">Voir le menu</button>
</form>

</body>
</html>